.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    width:100%
  }

  .button-group > div{
    display: inline-flex;
    flex: 1 0 auto;
  }


  .button-group > div{
    border: 1;
    font-size: 1.5rem;
    margin: 0 1px 0 0;
    flex: 1 0 auto;
    padding: 0;
  }
  

  @media all and (max-width: 800px){
    .button-group > .five {order: 5;}
    .button-group > .six {order: 6;}
    .button-group > .seven {order: 1;}
    .button-group > .eight {order: 2;}
    .button-group > .nine {order: 3;}
    .button-group > .prod {order:  12;}
    .button-group > .plus {order: 4;}
    .button-group > .four {order: 7;}
    .button-group > .three {order: 9;}
    .button-group > .two {order: 10;}
    .button-group > .one {order: 11;}
    .button-group > .zero {order: 13;}
    .button-group > .equal {order: 15;}
    .button-group > .clear {order: 14;}
    .button-group > .minus {order: 8;}
    .button-group > .divide {order: 16;}  
    .button-group > div{
        width:20%
      }
  }
  @media all and (min-width: 800px){
    .button-group > .five {order: 1;}
    .button-group > .six {order: 2;}
    .button-group > .seven {order: 3;}
    .button-group > .eight {order: 4;}
    .button-group > .nine {order: 5;}
    .button-group > .prod {order:  6;}
    .button-group > .plus {order: 7;}
    .button-group > .four {order: 8;}
    .button-group > .three {order: 9;}
    .button-group > .two {order: 10;}
    .button-group > .one {order: 11;}
    .button-group > .zero {order: 12;}
    .button-group > .equal {order: 13;}
    .button-group > .clear {order: 14;}
    .button-group > .minus {order: 15;}
    .button-group > .divide {order: 16;}  
    .button-group > div{
        width:13%
      }
  } 


