.button {
    display: inline-flex;
    width: 25%;
    flex: 1 0 auto;
  }


  .button button {
    border: 1;
    font-size: 1.5rem;
    margin: 0 1px 0 0;
    flex: 1 0 auto;
    padding: 0;
  }


  .someClass{
    display: flex;
  }