.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    width:100%
  }

  .button-group > div{
    display: inline-flex;
    flex: 1 0 auto;
  }


  .button-group > div{
    border: 1;
    font-size: 1.5rem;
    margin: 0 1px 0 0;
    flex: 1 0 auto;
    padding: 0;
  }
  

  @media all and (max-width: 800px){
    .button-group > .class-5 {order: 5;}
    .button-group > .class-6 {order: 6;}
    .button-group > .class-0 {order: 1;}
    .button-group > .class-1 {order: 2;}
    .button-group > .class-2 {order: 3;}
    .button-group > .class-11 {order:  12;}
    .button-group > .class-3 {order: 4;}
    .button-group > .class-4 {order: 7;}
    .button-group > .class-10 {order: 9;}
    .button-group > .class-9 {order: 10;}
    .button-group > .class-8 {order: 11;}
    .button-group > .class-12 {order: 13;}
    .button-group > .class-14 {order: 15;}
    .button-group > .class-13 {order: 14;}
    .button-group > .class-7 {order: 8;}
    .button-group > .class-15 {order: 16;}  
    .button-group > div{
        width:20%
      }
  }
  @media all and (min-width: 800px){
    .button-group > .class-5 {order: 1;}
    .button-group > .class-6 {order: 2;}
    .button-group > .class-0 {order: 3;}
    .button-group > .class-1 {order: 4;}
    .button-group > .class-2 {order: 5;}
    .button-group > .class-11 {order:  6;}
    .button-group > .class-3 {order: 7;}
    .button-group > .class-4 {order: 8;}
    .button-group > .class-10 {order: 9;}
    .button-group > .class-9 {order: 10;}
    .button-group > .class-8 {order: 11;}
    .button-group > .class-12 {order: 12;}
    .button-group > .class-14 {order: 13;}
    .button-group > .class-13 {order: 14;}
    .button-group > .class-7 {order: 15;}
    .button-group > .class-15 {order: 16;}  
    .button-group > div{
        width:13%
      }
  } 


